<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Shelter</title>
</head>
<body>
    <h1>Edit Shelters</h1>
    <form action="/shelters" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="shelter[title]">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="shelter[location]">
        </div>
        <button>Add Shelter</button>
    </form>
    <a href="/shelters/<%= shelter._id %> ">Back to Shelter</a>
</body>
</html>