   <% layout('layouts/boilerplate') %> 
   <h1>All Shelters</h1>
    <div>
        <a href="/shelters/new">New Shelter</a>
    </div>
    <ul>
        <% for (let shelter of shelters) {%>
            <li><a href="shelters/<%= shelter._id %>"><%= shelter.title %></a> </li>
            <% } %>  
    </ul>
