<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shelters</title>
</head>
<body>
    <h1>All Shelters</h1>
    <div>
        <a href="/shelters/new">New Shelter</a>
    </div>
    <ul>
        <% for (let shelter of shelters) {%>
            <li><a href="shelters/<%= shelter._id %>"><%= shelter.title %></a> </li>
            <% } %>  
    </ul>
</body>
</html>