<% layout('layouts/boilerplate') %>
    <form action="/shelters" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="shelter[title]">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="shelter[location]">
        </div>
        <button>Add Shelter</button>
    </form>
    <a href="/shelters">All Shelters</a>