<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <h1><%= shelter.title  %> </h1>
    <h2><%= shelter.location  %> </h2>
</body>

<footer>
    <a href="/shelters/<%= shelter._id %>/edit">Edit</a>
    <a href="/shelters">All Shelters</a>
</footer>

</html>