<% layout('layouts/boilerplate') %>
    <h1><%= shelter.title  %> </h1>
    <h2><%= shelter.location  %> </h2>
<p>
    <a href="/shelters/<%=shelter._id%>/edit">Edit</a>
</p>

<p>
    <form action="/shelters/<%=shelter._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
</p>

<footer>
    <a href="/shelters">All Shelters</a>
</footer>
